@*
    Create a view called ‘Error’ under Views->Home and put a custom error message (some text or HTML) there
*@
@{
    ViewData["Title"] = "Error";
}

<h2>Error Encountered</h2>
Something broke, try again or navigate to another page.